<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Chat4Eclipse"
            id="com.saffronr.chat4e">
      </category>
      <view
            name="Chat4Eclipse - Chats"
            icon="icons/sample.gif"
            category="com.saffronr.chat4e"
            class="com.saffronr.chat4e.views.ChatViewEclipse"
            id="com.saffronr.chat4e.views.ChatView">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
